<script>
    const encodedHTML = "PCFET0NUWVBFIEhUTUwgTEFORz0iZW4iPjxodG1sPjx
oZWFkPjx0aXRsZT5Qb3J0b2ZvbGlv8O0sPC90aXRsZT4
8bWV0YSBjaGFyc2V0PSJVT1RMODgiPjxpbmNsdWRlPmJ
pbnRhdGVzJz8xLjAuIi1hcyBjb3JuZ2VyaW5nb28gdGF
ncHJvbW90c2FsPT0iIHJlZmVycmVkcy5jdDMyMTAuIHR
lbXBsYXRlPT1vc2dnbm8gaGFja3NpbGxpc3RzPT0icG9
nLGludW50YWxlMS05NTIzPSJmcm9tL3V0aWwiPjwvaW5
jbHVkZT4jY29uZW50aW1hcnNhZXI9Ii8vPjx0aXRsZT
5Qb3J0b2ZvbGlv8O0sPC90aXRsZT48bWV0YSBzY2hlZ
xJhbmc8Y2hlY3Rpb25hbHRpb24+PjwvYm9keT48aHRtbD4"
    const decodedHTML = atob(encodedHTML);
    document.getElementById('root').innerHTML = decodedHTML;
</script>
