<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Maintenance 404</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0, user-scalable=no">
</head>
<body>
<!-- partial:index.partial.html -->
<a href="https://instagram.com/galngfp/" class="viewFull" target="_blank">Instagram Me</a>

<div class="error">

<div class="wrap">
  <div class="404">
    <pre><code>
	 <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
<span class="orange">&lt;html&gt;</span>
    <span class="orange">&lt;style&gt;</span>
   * {
		        <span class="green">everything</span>:<span class="blue">awesome</span>;
}
     <span class="orange">&lt;/style&gt;</span>
 <span class="orange">&lt;body&gt;</span> 
              ERROR 404!
				FILE NOT FOUND!
				<span class="comment">&lt;!--Portofolio sedang dalam perbaikan!, 
					Akan segera hadir.--&gt;
<span class="orange">&lt;footer&gt;</span>
   <span class="orange">&lt;div</span> 
                  <span class="green">class</span><span>=</span><span class="blue">"footer-content"</span><span class="orange">&gt;</span>
               <span class="blue">Created by Galang</span>
    <span class="orange">&lt;/div&gt;</span>
<span class="orange">&lt;/footer&gt;</span>
		</span>
 <span class="orange"></span> 
			  
<br/>

</div>
<br />
<br/>
<span class="info">
<br />

<span class="orange">&nbsp;&lt;/body&gt;</span>

<br/>
      <span class="orange">&lt;/html&gt;</span>
    </code></pre>
  </div>
</div>


</span>
<!-- partial -->
</body>
</html>
